# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
mproject/node_modules
mproject/.pnp
.pnp.js

# testing
mproject/coverage

# production
mproject/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
